@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
	--text-color: #141E30;
	--input-color: #f3f3f3;
	--rgb-color:rgba(24, 29, 49, 1);
	--rgb-color08:rgba(24, 29, 49, 0.8);
	--rgb-color06:rgba(24, 29, 49, 0.6);
	--bg-color: #678983;
	--rgb2-color:rgba(94, 110, 107, 1);
	--rgb2-color08:rgba(94, 110, 107, 1);
	--rgb2-color06:rgba(94, 110, 107, 1);
	--text-colorf : #fff;
	--hover-color : #6ECCAF;
}	
.wf{
	width: 100%;
}
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flexc{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}