@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
	--text-color: #141E30;
	--input-color: #f3f3f3;
	--rgb-color: #181D31;
	--bg-color: #678983;
	--text-colorf : #fff;
}	
.wf{
	width: 100%;
}
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flexc{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}