*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f6f5f7;
    font-family: 'Poppins', sans-serif;
}
.main{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.main-header{
    z-index: 2;
    background-color: var(--rgb-color08);
    opacity: 1;
    padding: 0%;
    margin: 0%;
    padding:0px;
}
.header-navbar{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.list-item{
    list-style: none;
    display: flex;
    align-items: center;
}
.item{
    max-width: 100px;
    color: #fff;
    padding: 0px;
    cursor: default;
    position: relative;
}
.item-logo{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-header{
    color: var(--text-colorf);
    position: relative;
    font-size: 15px;
}
.text-header::after{
    left: 0;
    top: 100%;
    content: "";
    width: 0;
    position: absolute;
    height: 3px;
    background:var(--bg-color);
    transition: all 0.2s ease-in;
}
.item:hover  .text-header::after{
    width: 100%;
}
.text-header:hover{
    color:#f3f3f3;
}
.header-navbar__left{
    flex: 2;
    margin-left: 50px;
}
.header-navbar__left .list-item{
    justify-content: space-between;
}
.header-navbar__right{
    padding-left: 50px;
    flex: 2;
}
.header-navbar__right .list-item{
    margin-right: 50px;
    justify-content: space-between;
}
.header-navbar__mid{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.btn-header{
    border: none;
    border-radius: 4px;
    padding: 4px 30px;
    color: var(--text-colorf);
    background-color: var(--bg-color);
    text-decoration: none;
    max-width: 110px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s all ease-in;
}
.btn-header:hover{
    opacity: 0.8;
}
.item-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
.icon-poin-header{
    margin-right: 10px;
    font-size: 20px;
    color: var(--text-colorf);
    background-color: var(--bg-color) ;
    border: 3px solid var(--input-color);
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.main-body{
    width: 100%;
    height: 100%;
}
.main-bg{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(/asset/pic/pexels-cátia-matos-1072179.jpg);
    background-position: center;
    background-size: cover;
}
.number-poin{
    font-size: 20px;
    font-weight: 600;
}
.main-timebox{
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 360px;
    min-height: 120px;
    border-radius: 8px;
    background-color:var(--rgb-color08);
}
.time__list-selections{
    list-style: none;
    padding: 10px 0px;
}
.time__selection{
    padding: 2px 20px;
    background-color: var(--rgb2-color06);
    color: var(--text-colorf);
    border-radius: 4px;
    margin: 8px 0;
}