@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
	--text-color: #141E30;
	--input-color: #f3f3f3;
	--button-color: rgb(8,14,7);
	--bg-color: rgb(60,83,60)
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
	
}
.fa-facebook-f {
	color: #1877F2;
}
.fa-google-plus-g {
	color: #EA4335;
}
.fa-twitter {
	color: #1DA1F3;
}

body {
    height: 100vh;
    background: #f6f5f7;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
}
.container {
	position: relative;
	width: 850px;
	height: 500px;
	background-color: #FFF;
	box-shadow: 25px 30px 35px #5557;
	border-radius: 13px;
	overflow: hidden;
}
.form-container {
	position: absolute;
	width: 60%;
	height: 100%;
	padding: 0 40px;
	transition: all 0.6s ease-in-out;
}
.sign-up-container {
	opacity: 0;
	z-index: 1;
}
.sign-in-container {
	z-index: 2;
}
form {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
}
h1 {
	color: var(--text-color);
}
.social{
	transition: all 0.2s ease-in-out;
}
.social-container {
	margin: 20px 0px;
}
.social-container a {
	border: 1px solid #CCC;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0px 5px;
	width: 40px;
	height: 40px;
}
.social-container a:hover .fa-facebook-f {
	color: white;
}
.social-container a:hover .fa-google-plus-g {
	color: white; 
}
.social-container a:hover .fa-twitter {
	color: white; 
}
.social-container .social-hover1:hover  {
	background-color: #1877F2;
}
.social-container .social-hover2:hover   {
	background-color: #EA4335;
}
.social-container .social-hover3:hover   {
	background-color: #1DA1F3;
}
span {
	font-size: 12px;
}
.infield {
	position: relative;
	margin: 8px 0px;
	width: 100%;
}
.pass{
	color: var(--text-color);
	position: absolute;
	display: none;
	right: 12px;
	top: 30%;
}
.shows{
	display: block;
}
input {
	width: 100%;
	padding: 12px 8px;
	background-color: var(--input-color);
	border: none;
	outline: none;
}
label {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	width: 0%;
	height: 2px;
	background: var(--bg-color);
	transition: 0.3s;
}

input:focus ~ label {
	width: 100%;
}
a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0px;
}
a.forgot {
	padding-bottom: 3px;
	border-bottom: 2px solid #EEE;
}
.forgot {
	opacity: 0.9;
}
.forgot:hover {
	opacity: 1;
}
button {
	border-radius:  20px;
	border: 1px solid var(--button-color);
	background-color: var(--button-color);
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.form-container button {
	margin-top: 17px;
	transition: all 0.2s ease-in;
}
.form-container button:hover {
	background-color: #FFF;
	color: var(--button-color);
}
.overlay-container {
	position: absolute;
	top: 0;
	left: 60%;
	width: 40%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 9;
}
#overlayBtn {
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 304px;
	transform: translateX(-50%);
	width: 143.67px;
	height: 40px;
	border: 1px solid #FFF;
	background: transparent;
	border-radius: 20px;
}
.overlay {
	position: relative;
	background: var(--bg-color);
	color: #FFF;
	left: -150%;
	height: 100%;
	width: 250%;
	transition: transform 0.6s ease-in-out;
}
.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px 40px;
	text-align: center;
	height: 100%;
	width: 340px;
	transition: 0.6s ease-in-out;
}
.overlay-left {
	right: 60%;
	transform: translateX(-12%);
}
.overlay-right {
	right: 0;
	transform: translateX(0%);
}
.overlay-panel h1 {
	color: #FFF;
}
p {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 25px 0 35px;
}
.overlay-panel button {
	border: none;
	background: transparent;
}
.right-panel-active .overlay-container {
	transform: translateX(-150%);
}
.right-panel-active .overlay {
	transform: translateX(50%);
}
.right-panel-active .overlay-left {
	transform: translateX(25%);
}
.right-panel-active .overlay-right {
	transform: translateX(35%);
}
.right-panel-active .sign-in-container {
	transform: translateX(20%);
	opacity: 0;
}
.right-panel-active .sign-up-container {
	transform: translateX(66.7%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}
@keyframes show {
	0%, 50% {
		opacity: 0;
		z-index: 1;
	}
	50.1%, 100% {
		opacity: 1;
		z-index: 5;
	}
}
.btnScaled {
	animation: scaleBtn 0.6s
}
@keyframes scaleBnt {
	0% {
		width: 143.67px;
	}
	50% {
		width: 250px;
	}
	100% {
		width: 143.67px;
	}
}

