@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
	--button-color: rgb(115,141,152);
	--text-color: rgb(8,14,7);
	--bg-color: rgb(60,83,60);
}
.err{
	background-color: #EC0A0E;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
	
}
body {
    display: grid;
	height: 100vh;
	background-color: #f6f5f7;
    place-content: center;
    font-family: 'Poppins';
}
.container {
	position: relative;
	width: 950px;
	height: 600px;
	background-color: #FFF;
	box-shadow: 2px 4px 6px #5557;
	border-radius: 10px;
}
.form-container {
	display: none;
	position: absolute;
	left: 40%;
	width: 60%;
	height: 100%;
	padding: 0 40px;
	transition: all 0.8s ease-in-out;
}
.title-form{
	letter-spacing: 3px;
	color: var(--text-color);
}
.text-forms{
	margin-top: 10px;
	margin-bottom: 10px;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 60px;
}
span {
	font-size: 13px;
}
.field {
	position: relative;
	margin: 8px 0px;
	width: 100%;
	height: 10%;
}
.pass{
	font-size: 18px;
	color: var(--text-color);
	position: absolute;
	display: none;
	right: 12px;
	top: 13px;
	cursor: pointer;
}
.shows{
	display: block;
}
input {
	font-size: 16px;
	width: 100%;
	padding: 12px 30px;
	border: none;
	outline: none;
}
.icon{
	font-size: 20px;
	color: var(--text-color);
	position: absolute;
	left: 0;
	top: 11px;
}label{
	position: absolute;
	right: 0;
	bottom: 16px;
	width: 100%;
	height: 2px;
	background-color: #909090;
}
.or-login{
	margin-top: 10px;
}
.fa-facebook-f {
	color: #1877F2;
}
.fa-google-plus-g {
	color: #EA4335;
}
.fa-twitter {
	color: #1DA1F3;
}
.social{
	transition: all 0.2s ease-in-out;
}
.social-container {
	margin: 10px 0px;
}
.social-container a {
	border: 1px solid #CCC;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 0px 5px;
	width: 40px;
	height: 40px;
}
.social-container a:hover .fa-facebook-f {
	color: white;
}
.social-container a:hover .fa-google-plus-g {
	color: white; 
}
.social-container a:hover .fa-twitter {
	color: white; 
}
.social-container .social-hover1:hover  {
	background-color: #1877F2;
}
.social-container .social-hover2:hover   {
	background-color: #EA4335;
}
.social-container .social-hover3:hover   {
	background-color: #1DA1F3;
}
button {
	border-radius:  20px;
	border: 1px solid var(--button-color);
	background-color: var(--button-color);
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.form-container button {
	margin-top: 17px;
	transition: all 0.2s ease-in;
}
.form-container button:hover {
	background-color: #FFF;
	color: var(--button-color);
}
.footer-field{
	margin-top: 5px;
	display: flex;
	flex-direction: row;
}
.checkbox{
	display: flex;
}
.text-check{
	font-size: 15px;
	text-transform: capitalize;
	color: var(--text-color);
	margin-left: 8px;
}
.forgot{
	text-decoration: none;
	cursor: pointer;
	color: var(--text-color);
	transition: all 0.2s ease-in-out;
}
.forgot:hover{
	opacity: 0.8;
}
.forgot-pass{
	font-size: 15px;
	margin-left: 90px;
}
.banner{
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
}
.active{
	display: block;
}
.left-banner{
	width: 100%;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.create{
	margin-top: 5px;
	text-transform: uppercase;
}
strong{
	text-transform: uppercase;
	color: #1877F2;
	cursor: pointer;
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}
strong:hover{
	opacity: 0.8;
}
.error{
	font-size: 13px;
	color: #EC0A0E;
}